.itemDetailsStyle {
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #1e1e1e;
    margin-top: 1rem;
    color: #1e1e1e;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.carouselImage {
    border-radius: 10px 10px 0 0;
    object-fit: fill;
    width: 50vw;
    height: 50vh;

}

.counterButtonsContainer {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;

}

.counterStyle {
    width: 40%;
    height: 100%;
    background-color: white;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.buttonStyle {
    width: 30%;
}

.itemNameStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FEA82F;
    height: 80px;
    font-weight: bold;
    padding: 1rem;
    text-align: center;

}