.itemStyle {
    width: 250px;
    border-radius: 10px;
    margin: 1rem 0 1rem 0;
    transition: all 0.5s ease-in-out;

}

.itemStyle:hover {
    box-shadow: 0 0.8em 0.8em -0.6em black;
    transform: scale(1.1, 1.1);
}

.itemNameStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d2b48c;
    height: 70px;
    font-weight: bold;
}

.itemPictureStyle {
    border-radius: 10px 10px 0 0;
    height: 300px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addToCartStyle {
    width: 100%;
    background-color: #1e1e1e;
}

.counterButtonsContainer {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;

}

.counterStyle {
    width: 40%;
    height: 100%;
    background-color: white;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.buttonStyle {
    width: 30%;
}