.navBar {
    display: flex;
    background-color: #1e1e1e;
    color: white;
}

.logo {
    max-width: 270px;
    flex-grow: 0.05;
    display: flex;
    align-items: center;
    background-color: #FEA82F;
    object-fit: scale-down;
    padding: 0.5rem;
}

.menuItemsContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    justify-content: end;
}

.menuItem {
    height: 50%
}

.listStyle {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.itemList {
    text-decoration: none;
    color: #FEA82F;
    pointer-events: none;
}

.activeItemList {
    text-decoration: none;
    color: white;
}

.secondRowNavBar {
    list-style: none;
    display: flex;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
}

.chipsContainer {
    padding: 0.8rem;
    margin: 0.5rem 0;
}

.logout {
    cursor: pointer;
}

.saluteContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem;
}

.disableLink {
    pointer-events: none;
}